
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: kryptons.qingcloud.com.qingcloud.com
spec:
  group: qingcloud.com.qingcloud.com
  names:
    kind: Krypton
    listKind: KryptonList
    plural: kryptons
    singular: krypton
  scope: Namespaced
  validation:
    openAPIV3Schema:
      description: Krypton is the Schema for the kryptons API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: KryptonSpec defines the desired state of Krypton
          properties:
            foo:
              description: Foo is an example field of Krypton. Edit Krypton_types.go
                to remove/update
              type: string
          type: object
        status:
          description: KryptonStatus defines the observed state of Krypton
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
